@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --vermelho: #d11d1d;
}

.cabecalho {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.semana-um {
    width: 800px;
    margin: auto;

    & .titulo {
    display: block;
    text-align: center;
    margin: 10px;
    color: var(--vermelho);
    }
}